@font-face {
    font-family: 'inter';
    src: url('../../fonts/__inter/inter.woff');
    font-weight: normal;
}


.page {
    margin: 0 auto;
    font-family: 'inter', Arial;
    background: #2A2C2F;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media only screen and (min-width : 1280px) {
    .page {
        max-width: 1280px;
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1280px) {
    .page {
        max-width: 1024px;
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    .page {
        max-width: 768px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
    .page {
        max-width: 320px;
    }
}
