@import './__list/intro__list.css';
@import './__text/intro__text.css';
@import './__title/intro__title.css';
@import './__subtitle/intro__subtitle.css';
@import './__amount/intro__amount.css';

.intro {
    max-width: 100%;
    margin: 0 auto;
}


@media screen and (min-width: 1280px) {
    .intro {
        max-width: 988px;
        margin-top: 92px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        max-width: 928px;
        margin-top: 92px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .intro {
        max-width: 288px;
        margin-top: 64px;
    }
}