.cover__overlay {
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    
  }

.cover__overlay:hover {
    opacity: 0.8;
}